@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, #2E2E2E, #0F0F0F);
    padding: 0px;
    margin: 0px;
}

main{
    background-color: white;
    margin: 0px auto;
    width: 800px;
    text-align: center;
    
}

#wiki{ 
    padding: 0px 15px;
    margin: 0px;
    
}

#wiki p{
    line-height: 1.6;
    text-align: justify;
}
h1{
    text-align: center;
}

h2{
    font-size: 20px;
}

.container{
    margin: 20px 0px;
    padding: 10px;
}
  .navbar{
    height: 400px;
    background-image: url(fotos/header2.png);
  }

  footer {
    /* Estilizações básicas para o rodapé, se necessário */
    margin-top: 30px;
}

footer h5 {
    margin-bottom: 15px;
}

footer p {
    font-size: 16px;
    margin-bottom: 0;
}


  #navbarTogglerDemo03{
    margin-right: 20px;
    height: auto;
  }

  .nav-link-transition{
    transition: all 0.5s ease;
    margin: 10px;
    border-radius: 5px;
  }

  .nav-link-transition:hover{
        transform: translateY(-10px);
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.11);
        background: linear-gradient(#eb5f5525 30%, #eb5f55);
        
  }

  .nav-link.active{
    font-weight: bolder;
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), var(--bs-gradient);
    background-color: #EB5E55;
  }

  
  .navbar .btn {
    margin-left: 10px; 
    transition: background-color 0.3s ease; 
    border-color: #EB5E55;
    color: #EB5E55;
    margin-left: 15px;
    background-color: transparent;
    
}

#ativo{
    background-color: #EB5E55;
    color: #2E2E2E;
    border: none;
}

.navbar .btn:hover {
    background-color: #EB5E55;
    border-color: #EB5E55;
    color: #0F0F0F;
}

.navbar-brand{
    width: 141px;
    height: 69px;
    display: flex; 
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
}

.navbar-brand img {
    display: block;  /* Garante que a imagem seja exibida como um bloco, removendo espaços indesejados */
    width: 141px;    /* Define a largura da imagem */
    height: 69px;    /* Define a altura da imagem */
}

#mobile{
    background-color: #c7c7c7;
    color: rgba(255, 255, 255, 0);
    border: none;
}

.custom-bg{
    background-color: #0f0f0fb6;
}


.btn i {
    margin-right: 5px;
}

.btn-link {
    text-decoration: none;  
    color: black;        
}


.btn-link:hover {
    color: #EB5E55; 
}


#contato{
    height: 400px;
}


footer{
    background-color: white;
}

.fab{
    transform: scale(1.4);
    margin: 5px;
    transition: all 0.5s ease;
}

.col{
    padding: 10px;
}

.mb-3{
    margin: 40px 0px;
}


  .fab:hover{
        transform: translateY(-10px) scale(1.8);
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.11);
        
        
  }

  #tt:hover{
    color: rgba(56, 159, 255, 0.74);
  }

  #face:hover{
    color: blue;
  }

  #insta:hover{
    color: #eb5f55;
  }

  linkedin{
    co
  }

